$height: 200
$width: 300
$margin: 2
$cols: 6
$rows: 5

.rythmn_val_selector
  background: $theme_1
  // border: 3px solid $theme_3
  +border-radius
  display: inline-block
  padding: #{$margin}px
  width: #{$width}px
  height: #{$height}px

  .case
    +border-radius(8px)
    +box-sizing(border-box)
    position: relative
    float: left
    margin: #{$margin}px
    width: #{$width / $cols - 2 * $margin}px
    height: #{$height / $rows - 2 * $margin}px
    line-height: #{$height / $rows - 2 * $margin}px
    text-align: center
    font-weight: bold
    color: rgba($theme_3, .7)
    &.button
      // border: 2px solid $theme_3
    p 
      margin: 0 
      padding: 0
      //border: none
      height: 100%
      width: 100%
